.homepageContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;

  .hero {
    width: 100%;
    height: 110vh; // bạn có thể chỉnh 70vh, 100vh…

    background-image: url('/images/HomeIllustration.png');
    background-size: cover; // Cho hình fill toàn bộ
    background-position: center; // Giữa hình
    background-repeat: no-repeat; // Không lặp

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
