.login-page-container {
    display: flex;
    flex-direction: row;


    .form-section {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .form-container {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-top: auto;
            margin-bottom: auto;


            .form-header-section {
                flex-direction: column;
                display: flex;
                gap: 0.5rem;
                align-items: center;
            }

            .form-input-section {
                margin-top: 5rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            .form-options-section {
                margin-top: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            .form-button-section {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                justify-content: center;
                align-items: center;
            }
        }

    }

    .illustration-section {
        flex: 1;
        object-fit: fill;
    }
}