.products-container {
  .products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  .products-sort {
    display: flex;
    justify-content: flex-end;
    margin: 32px;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
