.input-with-tagname-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .input-tagname {
        font-size: 0.8rem;
        font-weight: 600;
    }

    input {
        width: 100%;
    }
}